.App {
  margin: 50px;
  font-size: 2rem;
}

.display {
  border: 1px solid gray;
  background-color: black;
  color: white;
  min-height: 4rem;
  padding: 8px;
  margin-top: 30px;
}

#prompt-form {
  display: flex;
}

#prompt-input {
  margin-left: 8px;
  flex: 2;
}

#prompt-label {
  padding-top: 6px;
}
